div.chc_main {
    position: relative;
    display: inline-block;
    min-width: 40px;
    text-align: left;
    font-weight: normal;
}

div.chc_menu {
    display: inline-block;
    padding: 4px 8px;
    cursor: default;
}

div.chc_box {
    border: 1px solid #DADADA;
    display: inline-block;
    border-radius: 7px;
    text-align: left;
    cursor: default;
}

table.chc_header {
    font-size: inherit; 
    width: 100%
}

    td.chc_img {
        padding-right: 5px
        cursor: default;
        width: 5px;
    }     

    td.chc_arrow {
        cursor: default;
        width: 12px;
    }  

        td.chc_arrow > span {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8.7px 5px 0 5px;
            border-color: #808080 transparent transparent transparent;    
            display: inline-block;
            margin: 0;               
        }


ul.chc_list {
    margin-top: 2px;
    border: 1px solid #DADADA;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: auto;
    min-width: 100%;
    position: absolute;
    width: auto;
    z-index: 1000;
    background-color: white;
    clear: both;
    left: 0;
}

ul.chc_list.chc_menu {
    margin-top: 10px;
}

ul.chc_list.chc_menu:after, ul.chc_list.chc_menu:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

ul.chc_list.chc_menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

ul.chc_list.chc_menu:before {
    border-color: rgba(218, 218, 218, 0);
    border-bottom-color: #DADADA;
    border-width: 11px;
    margin-left: -11px;
}


ul.chc_list li {
    padding: 8px;
    white-space: nowrap;
}

ul.chc_list li div {
    display: inline-block;
}

ul.chc_list li div.chc_img {
    margin-right: 10px;
}

ul.chc_list li:not(:last-child) {
    border-bottom: 1px solid #F2F2F2;
}

ul.chc_list li:hover {
    background-color: forestgreen;
    color: white;
}        

ul.chc_list li div.chc_img img {
    vertical-align: middle;
}

.chc_fixed {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
}
.chc_fixed td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chcList-animation {
    opacity: 1;
}

.chcList-animation.ng-hide {
    opacity: 0;
}

.chcList-animation.ng-hide-add,
.chcList-animation.ng-hide-remove {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}     

.chc_placeholder {
    color: #BABABA;
}   